
@media screen and (min-width:150px) and (max-width:737px) {

    body {

        color:#1e1e1e;
    }

    div{


        box-sizing:border-box;
    }

    .header_container{

        width:100%;
        height:80px;
        background-color:#333333;
        font-weight:700;
        font-size:1.8em;
        color:white;
        padding-top:21.5px;
        border-bottom:3px solid #f85708;
        -webkit-box-shadow: 0px 10px 5px 0px rgba(131,125,125,0.25);
        -moz-box-shadow: 0px 10px 5px 0px rgba(131,125,125,0.25);
        box-shadow: 0px 10px 5px 0px rgba(131,125,125,0.25);
    }

        #mobile_container{


        width:95%;
        margin:0px auto;
        margin-top:35px;
       


    }
        

        .dataForm label{

            font-size:1.5em;
            font-weight:700;
            color:#1e1e1e;


        }

        #information_block{

            width:100%;


        }

        .btn_container{


            width:50%;
            margin:0px auto;
        }

        #startDay{

            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            font-weight: 700;
            width:200px;
            height:50px;
            background-color:green;
            color:white;
            display:inline-block;
            margin:0px auto;
            border:none;
        }

        #startDay:hover{

            background-color:#38CC38;
        }

        .day_display{

            width:95%;
            height:50px;
            margin:0 auto;
        }

        .day_grouping{

            float:left;
            margin-right:10px;
            width:30%;
            height:50px;
            box-sizing:border-box;
            padding-top:17px;
            padding-left:5px;
            border-right:1px solid rgba(131,125,125,0.5);
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            -webkit-box-shadow: 9px 0px 5px 0px rgba(131,125,125,0.25);
            -moz-box-shadow: 9px 0px 5px 0px rgba(131,125,125,0.25);
            box-shadow: 9px 0px 5px 0px rgba(131,125,125,0.25);
        }

        .date_heading{

            font-weight:700;
            float:left;
            margin-right:10px;

            
        }

        #endDayBtn{

            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            font-weight: 700;
            width:200px;
            height:50px;
            background-color:red;
            color:white;
            border:none;

        }

        #endDayBtn:hover{

            background-color:#f72e2e;

        }

        .endBtn{

            margin-top: 25px;
        }


}
